@charset "UTF-8";

@font-face {
    font-family: "dream";
    src: url(../font/SCDream5.otf);
}

html, body{
    height: 100%;
    width: 100%;
    background-color:#E9E2D1;

    
}

.login_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.login{
    display: flex;
    justify-content:center;
    align-items:center;
    height: 500px;
    width: 600px;
    background-color: #f1ede3;
    font-family: 'dream';
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: middle;
    border:none;
    border-radius: 15px;
}

.signup{
    display: flex;
    justify-content:center;
    align-items:center;
    height: 500px;
    width: 600px;
    background-color:#f1ede3;
    font-family: 'dream';
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    border:none;
    border-radius: 15px;
    flex-direction: column;
}
.login_logo, .signup_text{
    font-family: 'dream';
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    line-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #252525;
    
}

#login_id, #login_password{
    background-color: #FBF9FF;
    width: 300px;
    font-family: "dream";
    font-size: larger;
    border: 1px solid #8F9BB3;
    border-radius: 5px;
    height: 40px;
}

#login_submit{
    width: 300px;
    font-family: "dream";
    background-color: #ff7473;
    color: white;
    border: none;
    border-radius: 5px;
    height: 40px;
    cursor: pointer;
    font-size: 20px;
}

.logout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    font-size: 30px;
    background-color:RGB(233,226,209);
    font-family:"dream";
}

#google_login{
    background-color:white;
    color:black;
    border: black 1px solid;
    height:30px; 
    display:flex; 
    align-items: center; 
    justify-content: center;   
    border-radius: 5px;
	font-size: 18px;
    margin-right: 0px; 
    height: 40px;
}
.logout button {
    width: 350px;
    height: 45px;
    font-family: "dream";
    background-color: #ff7473;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.social_login{
    font-family: dream;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    background-color:RGB(233,226,209);

}

#google_button{
    font-family: dream;
    width: 100px;
    height: 30px;
    border-radius: 15px;
    background-color:RGB(234,102,118);
    color:white;
    border:none;
    cursor:pointer;
    
}
#social_login_continue{
    font-family: dream;
}



.signup_form label{
    display: inline-block;
    width: 200px;
    font-size: 18px;
    font-family: dream;
    font-weight:600;
}

.signup_form input{
    height: 40px;
    width: 200px;
    border: 1px solid #8F9BB3;
    border-radius: 5px;
    font-family: dream;
    text-align: center;
    font-size: 18px;

}

.signup_form button{
    display: flex;
    font-family: dream;
    background-color: #ff7473;
    color: white;
    border: none;
    border-radius: 5px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    cursor: pointer;
    width: 400px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}