{% extends 'base.html' %} 
{% load static %} 
{% block content %} 
{% include 'shared/_navbar2.html' %}

<style>
    .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color:RGB(234,102,118);
    }

</style>
<h1 style="margin-left: 200px;padding-top: 80px;">Mypage</h1>
    <h4 style="margin-left: 200px;font-family: dream;font-size: 18px;">ID : {{user.username}}</h2>
        <ul class="nav nav-pills" style="margin-left: 200px; font-family: dream;">
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'users:mypage' %}">작성한 글</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users:mypage2' %}" style="color:black">좋아요 한 글</a>
              </li>
            
        </ul>

    <div  id = "post_container">
        {% for post in posts %} 
        <a href = "{% url 'main:detail' post.id %}" style="text-decoration: none;cursor:default">
            <div id = "post_box" style="cursor:pointer; text-align: center;">
                <h1>{{post.title}}</h1>
                <hr style="width: 90%;margin-left: auto;margin-right: auto;">
                <p style="margin:0 ;font-size:larger;">미리보기</p>
                <h7>{{post.summary}}</h7>
                <hr style="width: 90%;margin-left: auto;margin-right: auto;">
            </div>
        </a>
        {% endfor %}
    </div>
    <div id = "page_number" style="position: fixed;bottom:10px;left: 49%;">
        {% if posts.has_previous %} 
        <a href = "?page = {{posts.previous_page_number}}" id = "previous">&lt</a>
        {% endif %} 
        <span>{{posts.number}}</span>
        <span>of</span>
        <span>{{posts.paginator.num_pages}}</span>
        {% if posts.has_next %} 
        <span id = "next"><a href = "?page={{posts.next_page_number}}">&gt</a></span>
        {% endif %}
      </div>

{% endblock %}