{% extends 'base.html' %}
{% load static %}

{% block content %} 
{% include 'shared/_navbar2.html' %}

<div id = "detail" class="container" style="padding-top: 100px;">
    
    <div id = "detail_body" style="background-color: #f1ede3; border-radius: 15px; padding: 20px; margin-bottom: 30px;">
        {% if post.writer == user%}
            <div id = "edit_delete_post" style="text-align: right;">
                <a href = "{% url 'main:edit' post.id%}"><button id = "post_edit_button">글 수정하기</button></a>
                <a href = "{% url 'main:delete' post.id%}"><button id = "post_edit_button">글 삭제하기</button></a>
            </div>
        {% endif %}
        
        <h3>제목 : {{post.title}}</h3>
        {% if post.writer %}
            {% if 'user' in post.writer.username %}
                <h5>작성자 : {{ post.writer.last_name }} {{ post.writer.first_name }}</h5>
            {% else %}
                <h5>작성자 : {{ post.writer }}</h5>
            {% endif %}
        {% else %}
        <h5>작성자 : 알 수 없음</h5>
        {% endif %}


        날짜 : {{post.pub_date}}<br>
        <hr style="height: 5px; border: 0 none;color:black">
        {% if post.image %} 
            <p style="text-align: center;"><img src = "{{ post.image.url }}"  style="width: 250px" alt = "사진"></p>
        {% endif %}

        <div id = "summary" style="text-align: center;">{{post.body}}</div><hr style="height: 5px; border: 0 none;color:black">
        <h4 style="text-align: center;">댓글</h4>
        <div  style="text-align: center;">
            <form action="{%url 'main:create_comment' post.id%}" method="POST">
                {%csrf_token%}
                <textarea name="content" placeholder=" 댓글내용입력" style="width: 800px;resize: none; height: 60px; border-radius: 15px;"></textarea>
                <input type="submit" value="확인" id = "detail_submit">
            </form>
        </div>
        <hr style="width: 800px; margin-left:auto;margin-right:auto">
            <div id = "comment" style="width: 800px; margin-left:auto;margin-right:auto">
                {% for comment in comments %}
                <div>
                {% if 'user' in comment.writer.username %}
                작성자 : {{comment.writer.last_name}} {{comment.writer.first_name}}<br>
                {% else %}
                작성자: {{comment.writer}}<br>
                {% endif %}   {{comment.content}}
                {% if comment.writer == user%}
                    <div id = "edit_delete_comment" style="text-align: right;">
                        <a href = "{% url 'main:edit_comment' comment.id %}"><button id = "comment_edit_button">댓글 수정하기</button></a>
                        <a href = "{% url 'main:delete_comment' comment.id %}"><button id = "comment_edit_button">댓글 삭제하기</button></a>
                            <br>
                    </div>
                    
                {% endif %}
                <hr>
                {% endfor %}
                
            </div>
    </div>

</div>
  
{% endblock %}