{% extends 'base.html' %} 
{% load static %} 

{% block content %} 
<div class = "container" id = "edit">
    <h1> 글 수정하기</h1>
    <form action = "{% url 'main:update' post.id %}" method = "post" enctype = "multipart/form-data"a>
        {%csrf_token%} 
        <input type = "text" name = "title" value = "{{post.title}}"  id = "title">
        <input type = "file" name = "image"  value = "{{post.image}}"  id = "photo">
        <textarea type = "text" name = "body" id = "content">{{post.body}}</textarea>
        <br>
        <button type = "submit"  id = "post_button"> 제출</button>
    </form>
</div>
{% endblock %}