{% extends 'base.html' %}
{% load static %}

{% block content %} 
{% include 'shared/_navbar.html' %}
  <div class = "Home" id = "Home">
    <img id = "myimage" src = "{% static 'images/me.png'%}"/>
    <h1>안녕하세요!<br>
    프론트앤드 개발자를 꿈꾸는<br>
    이예나입니다 : ) <br>
    
    </h1>


  </div>

  <div class = "Introduction" id = "Introduction">
    <h1 id = "title_introduction"> Introduction</h1>
    <div id = "intro1">
      <div id = "intro">
        <div id = "intro_img">
        <img src = "{% static 'images/intro.jpg'%}" style="width: 30%; border-radius: 70%;"/>
      </div>
        <br><br>
      <div id = "intro_txt" style="text-align: left;display: inline-block; padding-left:5%">
        <h4>이름 : 이예나</h4>
        <h4>학력 : 동국대학교 </h4>
        <pre><h4>학과 : 경영정보학과(본전공)
          융합소프트웨어학과(연계전공)</h4></pre>
      </div>
    </div>
  </div>
    
  
    <div id = "skill" >
      <h3>Skill</h3>
      <img src = "{% static 'images/html.png'%}" style="width: 100px; height: 100px;"/>
      <img src = "{% static 'images/css.png'%}" style="width: 100px;height: 100px;"/>
      <img src = "{% static 'images/django.png'%}" style="width: 100px;height: 100px;"/>
      <img src = "{% static 'images/python.png'%}" style="width: 100px;height: 100px;"/>
      <img src = "{% static 'images/java.png'%}" style="width: 80px;height: 100px;"/> 
    </div>

    <div id = "Interest" >
      <h3>Interest</h3>
      <table style="margin-left: auto;margin-right: auto;">
        <tr>
          <td><img src = "{% static 'images/coding.png'%}" style="width: 100px; height: 100px;"/></td>
          <td><img src = "{% static 'images/drawing.png'%}" style="width: 100px; height: 100px;"/></td>
          <td><img src = "{% static 'images/photo.png'%}" style="width: 100px; height: 100px;"/></td>
          <td><img src = "{% static 'images/friend.png'%}" style="width: 100px; height: 100px;"/></td>
        </tr>
        <tr>
          <td>coding</td>
          <td>drawing</td>
          <td>taking <br>picture</td>
          <td>playing with <br>friends</td>
          
        </tr>
      </table>
    </div>

    <div id = "Mbti">
        <h3>Mbti</h3>
        <div class="progress-bar">           
          <div class="mbti_e"> E</div>
        </div>
        <div class="progress-bar">           
          <div class="mbti_s"> S </div>
        </div>
        <div class="progress-bar">           
          <div class="mbti_f">F </div>
        </div>
        <div class="progress-bar">           
          <div class="mbti_p">P </div>
        </div>
    </div>
  </div>  


  <div class = "Projects" id = "Projects">
    <h1 id = "title_projects"> Projects</h1>
    <div id = "project1">
      <div id = "project1_img">
        <img src = "{% static 'images/project1.jpg'%}" style="width: 400px; height: 600px;"/>
      </div>
      <br>
      <h4> 동국대학교 중앙동아리 활동기록 서비스</h4>
    
    </div>
    <div id = "project2">
      <div id = "project2_img">
       <img src = "{% static 'images/project2.jpg'%}" style="width: 400px; height: 600px;"/>
      </div>
      <br>
        <h4>음정 맞춤 서비스, SLOV</h4>
    </div>

    <div id = "project3">
     
      <div id = "project3_img">
        <img src = "{% static 'images/project3_1.jpg'%}"/>
        <img src = "{% static 'images/project3_2.jpg'%}"/>
        <img src = "{% static 'images/project3_3.jpg'%}"/>
      </div>
 

      <br>
      <h4>Red Cedar Detection</h4>
    </div>

  </div>

  <div class = "Posts" id = "Posts">
    
    <h1 id = "title_posts"> Posts</h1>
    {% if user.is_authenticated %} 
    <h4><a href = "{%url 'main:new' %}"> 글쓰기</a></h4>
    
    <div>
      {% for post in posts %} 
      <div>
          <h3>{{post.title}}</h3>
          {{post.writer}}<br>
          {{post.summary}}<br>
          <a href = "{% url 'main:detail' post.id %}">...자세히</a>
      </div>
      {%endfor%}
    </div>
    {% else %}
    <a href = "{% url 'account_login' %}" class = "btn btn-warning">로그인</a>
    <a href = "{% url 'account_signup'%}" class = "btn btn-warning">회원가입</a>
    {% endif %}
  </div>
  {% endblock %}