{% extends 'base.html' %}
{% load static %}

{% block content %} 
{% include 'shared/_navbar.html' %}
<style>
  
  html,body{
      height: 100%;
  }
</style>
  <div class = "Home" id = "Home">
    <img id = "myimage" src = "{% static 'images/me.png'%}"/>
    <h1>안녕하세요!<br>
    프론트앤드 개발자를 꿈꾸는<br>
    이예나입니다 : ) <br>
    
    </h1>


  </div>


<div class = "Introduction" id = "Introduction">
  <h1 id = "title_projects">Introduction</h1>
  <div class = "info_body">
    <div class = "basic_info" style="width:50%;height:100%;align-items: center; justify-content: center;padding-left:100px;margin-right: 0;">
      <img src = "{% static 'images/intro.jpg'%}" style="width: 600px; border-radius: 70%; margin:30px; margin-top:100px;"/>
      <div id = "intro_txt" style="display: flex;flex-direction:column; text-align:left; align-items: center;">
        <div id = "txt" style="justify-content: left;">
          <h4>이름 : 이예나</h4>
          <h4>학력 : 동국대학교 </h4>
          <pre><h4>학과 : 경영정보학과(본전공)
          융합소프트웨어학과(연계전공)</h4></pre>
        </div>
      </div>
    </div>

    <div class = "specific_info" style="width:50%;height:100%;display: flex; flex-direction: column;">
      <div class = "skill_list" style="margin-top:100px;">
        <h3 style="padding-top: 0;">Skill</h3>
        <div id = "skill_img">
          <img src = "{% static 'images/html.png'%}" style="width: 100px; height: 100px;"/>
          <img src = "{% static 'images/css.png'%}" style="width: 100px;height: 100px;"/>
          <img src = "{% static 'images/django.png'%}" style="width: 100px;height: 100px;"/>
          <img src = "{% static 'images/python.png'%}" style="width: 100px;height: 100px;"/>
          <img src = "{% static 'images/java.png'%}" style="width: 80px;height: 100px;"/> 
        </div>
      </div>
      <div class = "interest_list" >
        <h3 >Interest</h3>
        <table style="margin-left: auto;margin-right: auto;">
          <tr>
            <td><img src = "{% static 'images/coding.png'%}"/></td>
            <td><img src = "{% static 'images/drawing.png'%}"/></td>
            <td><img src = "{% static 'images/photo.png'%}"/></td>
            <td><img src = "{% static 'images/friend.png'%}"/></td>
          </tr>
          <tr>
            <td><h6>coding</h6></td>
            <td><h6>drawing</h6></td>
            <td><h6>taking picture</h6></td>
            <td><h6>playing</h6></td>
            
          </tr>
        </table>
      </div>

      <div class = "mbti_list" >
        <h3>Mbti</h3>
        <div class="progress-bar">           
          <div class="mbti_e"> E</div>
        </div>
        <div class="progress-bar">           
          <div class="mbti_s"> S </div>
        </div>
        <div class="progress-bar">           
          <div class="mbti_f">F </div>
        </div>
        <div class="progress-bar">           
          <div class="mbti_p">P </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 
  <div class = "Introduction" id = "Introduction">
    <h1 id = "title_introduction"> Introduction</h1>
    <div id = "intro1">
      <div id = "intro">
        <div id = "intro_img">
        <img src = "{% static 'images/intro.jpg'%}" style="width: 30%; border-radius: 70%;"/>
      </div>
        <br><br>
      <div id = "intro_txt" style="text-align: left;display: inline-block; padding-left:5%">
        <h4>이름 : 이예나</h4>
        <h4>학력 : 동국대학교 </h4>
        <pre><h4>학과 : 경영정보학과(본전공)
          융합소프트웨어학과(연계전공)</h4></pre>
      </div>
    </div>
  </div>
    
  
    <div id = "skill" >
      <h3>Skill</h3>
      <img src = "{% static 'images/html.png'%}" style="width: 100px; height: 100px;"/>
      <img src = "{% static 'images/css.png'%}" style="width: 100px;height: 100px;"/>
      <img src = "{% static 'images/django.png'%}" style="width: 100px;height: 100px;"/>
      <img src = "{% static 'images/python.png'%}" style="width: 100px;height: 100px;"/>
      <img src = "{% static 'images/java.png'%}" style="width: 80px;height: 100px;"/> 
    </div>

    <div id = "Interest" >
      <h3>Interest</h3>
      <table style="margin-left: auto;margin-right: auto;">
        <tr>
          <td><img src = "{% static 'images/coding.png'%}" style="width: 100px; height: 100px;"/></td>
          <td><img src = "{% static 'images/drawing.png'%}" style="width: 100px; height: 100px;"/></td>
          <td><img src = "{% static 'images/photo.png'%}" style="width: 100px; height: 100px;"/></td>
          <td><img src = "{% static 'images/friend.png'%}" style="width: 100px; height: 100px;"/></td>
        </tr>
        <tr>
          <td>coding</td>
          <td>drawing</td>
          <td>taking <br>picture</td>
          <td>playing with <br>friends</td>
          
        </tr>
      </table>
    </div>

    <div id = "Mbti">
        <h3>Mbti</h3>
        <div class="progress-bar">           
          <div class="mbti_e"> E</div>
        </div>
        <div class="progress-bar">           
          <div class="mbti_s"> S </div>
        </div>
        <div class="progress-bar">           
          <div class="mbti_f">F </div>
        </div>
        <div class="progress-bar">           
          <div class="mbti_p">P </div>
        </div>
    </div>
  </div>   -->


  <div class = "Projects" id = "Projects">
    <h1 id = "title_projects"> Projects</h1>
    <div class = "project_body">
      <div id = "project1">
          <img src = "{% static 'images/project1.jpg'%}" style="width: 400px; height: 600px; margin-bottom: 30px;"/>
          <h4> 동국대학교 중앙동아리 활동기록 서비스</h4>
      </div>

      <div id = "project2">
        <img src = "{% static 'images/project2.jpg'%}" style="width: 400px; height: 600px; margin-bottom: 30px;"/>
        <h4>음정 맞춤 서비스, SLOV</h4>    
      </div>

      <div id = "project3">
          <img src = "{% static 'images/project3_1.jpg'%}"/>
          <img src = "{% static 'images/project3_2.jpg'%}"/>
          <img src = "{% static 'images/project3_3.jpg'%}" style=" margin-bottom: 30px;"/>
          <h4>Red Cedar Detection</h4>
      </div>
    </div>

      
    </div>

  </div>

  <div class = "Posts" id = "Posts">
    
    <h1 id = "title_posts"> Posts </h1>
    {% if user.is_authenticated %} 
    <a href = "{%url 'main:new' %}" style="text-decoration:none;"><i class="fa-solid fa-square-pen" style="font-size: 50px; color:black"></i></a>
    <div id = "post_container">
      {% for post in posts %} 
      <a href = "{% url 'main:detail' post.id %}" style="text-decoration: none;cursor:default">
        <div id = "post_box" style="cursor:pointer">
          <h1>{{post.title}}</h1>
          {% if post.writer %}
              {% if 'user' in post.writer.username %}
                  <h6>작성자 : {{ post.writer.last_name }} {{ post.writer.first_name }}</h6>
              {% else %}
                  <h6>작성자 : {{ post.writer }}</h6>
              {% endif %}
          {% else %}
              <h6>작성자 : 알 수 없음</h6>
          {% endif %}
          
            {{post.summary}}<br>
        </div>
      </a>
      {%endfor%}
    </div>
    {% else %}
    <a href = "{% url 'account_login' %}" class = "btn btn-warning">로그인</a>
    <a href = "{% url 'account_signup'%}" class = "btn btn-warning">회원가입</a>
    {% endif %}
  </div>
  {% endblock %}