{% extends 'base.html' %}
{% load static %}

{% block content %} 

{% include 'shared/_navbar2.html' %}
<div class= "container" id = "new">
    <h1> 글쓰기</h1>
    <form action = "{% url 'main:create' %}" method = "post" enctype = "multipart/form-data"  >
        {% csrf_token %}
        <input type = "text" name = "title" id = "title"  placeholder=" 제목을 입력해주세요">
        <input type = "file" name = "image"  id = "photo">
        <textarea type = "text"  name = "body" id = "context" placeholder=" 내용을 입력해주세요" ></textarea>
        <br>
        <button type = "submit" id = "post_button">제출</button>
    </form>
</div>
{% endblock %}
