<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yaena Lee</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Black+Han+Sans&family=Do+Hyeon&display=swap" rel="stylesheet">
    
    <link rel = "stylesheet" href = "style.css">
  </head>
<body>
    <nav>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Yaena Lee</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#Home">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#Introduction">Introduction</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#Projects">Projects</a>
                  </li>

    
                  

                </ul>
              </div>
            </div>
          </nav>
    </nav>

    <div class = "Home" id = "Home">
      <img id = "myimage" src = "src/img/me.png"/>
      <h1>안녕하세요!<br>
      프론트앤드 개발자를 꿈꾸는<br>
      이예나입니다 : ) <br>
      
      </h1>


    </div>

    <div class = "Introduction" id = "Introduction">
      <h1 id = "title_introduction"> Introduction</h1>
      <div id = "intro1">
        <div id = "intro">
          <div id = "intro_img">
          <img src = "src/img/intro.jpg" style="width: 30%; border-radius: 70%;"/>
        </div>
          <br><br>
        <div id = "intro_txt" style="text-align: left;display: inline-block; padding-left:5%">
          <h4>이름 : 이예나</h4>
          <h4>학력 : 동국대학교 </h4>
          <pre><h4>학과 : 경영정보학과(본전공)
            융합소프트웨어학과(연계전공)</h4></pre>
        </div>
      </div>
    </div>
      

      <div id = "skill" >
        <h3>Skill</h3>
        <img src = "src/img/html.png" style="width: 100px; height: 100px;"/>
        <img src = "src/img/css.png" style="width: 100px;height: 100px;"/>
        <img src = "src/img/django.png" style="width: 100px;height: 100px;"/>
        <img src = "src/img/python.png" style="width: 100px;height: 100px;"/>
        <img src = "src/img/java.png" style="width: 80px;height: 100px;"/> 
      </div>
      <div id = "Interest" >
        <h3>Interest</h3>
      <table style="margin-left: auto;margin-right: auto;">
        <tr>
          <td><img src = "src/img/coding.png" style="width: 100px; height: 100px;"/></td>
          <td><img src = "src/img/drawing.png" style="width: 100px; height: 100px;"/></td>
          <td><img src = "src/img/photo.png" style="width: 100px; height: 100px;"/></td>
          <td><img src = "src/img/friend.png" style="width: 100px; height: 100px;"/></td>
        </tr>
        <tr>
          <td>coding</td>
          <td>drawing</td>
          <td>taking <br>picture</td>
          <td>playing with <br>friends</td>
          
        </tr>
      </table>
      </div>

      <div id = "Mbti">
        <h3>Mbti</h3>
        <div class="progress-bar">           
          <div class="mbti_e"> E</div>
       </div>
       <div class="progress-bar">           
        <div class="mbti_s"> S </div>
      </div>
      <div class="progress-bar">           
        <div class="mbti_f">F </div>
      </div>
      <div class="progress-bar">           
        <div class="mbti_p">P </div>
      </div>
      </div>
      

    </div>


    <div class = "Projects" id = "Projects">
      <h1 id = "title_projects"> Projects</h1>
      <div id = "project1">
        <div id = "project1_img">
          <img src = "src/img/project1.jpg" style="width: 400px; height: 600px;"/>
        </div>
        <br>
        <h4> 동국대학교 중앙동아리 활동기록 서비스</h4>
     
      </div>
      <div id = "project2">
        <div id = "project2_img">
          <img src = "src/img/project2.jpg" style="width: 400px; height: 600px;"/>
        </div>
        <br>
          <h4>음정 맞춤 서비스, SLOV</h4>
      </div>

      <div id = "project3">
        <div id = "project3_img">
          <img src = "src/img/project3_1.jpg"/>
          <img src = "src/img/project3_2.jpg"/>
          <img src = "src/img/project3_3.jpg"/>
        </div>

        <br>
        <h4>Red Cedar Detection</h4>
      </div>

    </div>
    




</body>
</html>